.navbar-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.navbar-description ul {
  display: flex;
  align-items: center;
}
.navbar-description ul li {
  list-style: none;
  justify-content: space-around;
}
.navbar-description ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 2.2rem;
}
.fa-magnifying-glass {
  margin-right: 34px;
}
